/* Main layout styles */
.main {
    background-color: #222222;
    color: #9f9ea1;
}

/* Heading styles */
h1,
h2,
h3 {
    color: #9f9ea1 !important;
}

.main-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #9f9ea1 !important;
    margin-bottom: 20px;
}

.silver-text {
    color: #9f9ea1;
}

/* Button styles */
.stButton {
    display: flex;
    justify-content: flex-end;
}

.stButton > button {
    background-color: #444444;
    color: #cccccc;
    border: 1px solid #666666;
}

.stButton > button:hover {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #888888;
}

/* File uploader styles */
.uploadedFile {
    background-color: #333333 !important;
    color: #9f9ea1 !important;
    border: 1px solid #666666 !important;
    padding-top: 20px;
}

label[data-testid="stFileUploaderLabel"] {
    display: none;
}

/* Text area styles */
.stTextArea textarea {
    background-color: #333333;
    color: #9f9ea1;
}

/* Timer styles */
.big-timer {
    font-size: 26px;
    text-align: center;
    position: fixed;
    top: 50px;
    right: 20px;
    margin-top: 20px;
    font-family: 'Courier New', monospace;
    color: #9d50ff;
    text-shadow: 0 0 4px #9d50ff;
    padding: 6px 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 999;
}

/* Video container styles */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Instruction text styles */
.instruction-text {
    color: #9f9ea1;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    margin: auto;
    max-width: 800px;
}